@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot') format(eot),
         url('../fonts/CeraPro-Regular.ttf') format(TrueTupe),
         url('../fonts/CeraPro-Regular.woff') format(woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot') format(eot),
         url('../fonts/CeraPro-Medium.ttf') format(TrueTupe), 
         url('../fonts/CeraPro-Medium.woff') format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro Bolt';
    src: url('../fonts/CeraPro-Bold.eot') format(eot), 
         url('../fonts/CeraPro-Bold.ttf') format(TrueTupe),
         url('../fonts/CeraPro-Bold.woff') format(woff);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: normal;
}

/*первая часть*/

.transition{
    padding: 69px 119px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.transition-prodyct{
    display: flex;
    margin-bottom: 138px;
    gap: 28px;
    justify-content: center;
   align-items: flex-start;
}

.prodyct{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FBFBFB;
}

.foto-prodyct{
position: relative;
bottom: 10px;
}

.description{
    position:relative;
    right: 30px;
}
  
.text1{
    padding: 37px 0px 5px 142px;
    color: #3D3D3D;
    text-align: right;
    font-family: "Cera Pro Bolt", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 133.333% */
    text-transform: uppercase;
    white-space: nowrap;
}
.text2{
    padding: 5px 0px 25px 1px;
    color: #727272;
    text-align: right;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    white-space: nowrap;
    
}
.button-find1{
    padding: 11px 27px 9px 28px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    border: none;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    left: 170px;
}

.button-find2{
    padding: 11px 27px 9px 28px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    border: none;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    position: relative;
    left: 150px;
}

/*подзаголовок*/

.head-text1{
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Bolt", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 53.333% */
    padding: 0px 174px 7px;
}

.head-text2{
    padding: 7px 10px 35px;
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

/*вторая часть*/

.lower-block{
    display: flex;
    gap: 44px;
}

.blog{
     display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
}

.blog-description{
    padding: 9px 13px 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
}

.date{
    padding: 9px 20px 2px 0px;
    color: #46A358;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.tip{
    padding: 2px 53px 2px 0px;
    color: #3D3D3D;
    font-family: "Cera Pro Bolt", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
}

.blog-text{
    padding-top: 2px ;
    padding-bottom: 9px;
    color: #727272;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
}

.read-more{
    
    color: #3D3D3D;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
   
}
.green{
    color: #46A358
}