@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot') format(eot),
         url('../fonts/CeraPro-Regular.ttf') format(TrueTupe),
         url('../fonts/CeraPro-Regular.woff') format(woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot') format(eot),
         url('../fonts/CeraPro-Medium.ttf') format(TrueTupe), 
         url('../fonts/CeraPro-Medium.woff') format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro Bolt';
    src: url('../fonts/CeraPro-Bold.eot') format(eot), 
         url('../fonts/CeraPro-Bold.ttf') format(TrueTupe),
         url('../fonts/CeraPro-Bold.woff') format(woff);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: normal;
}

header{
    padding: 30px 120px;
    margin-bottom: 12px;
}

.header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item{
    padding: 8px 25px 25px;
    font-family: 'Cera Pro Regular', sans-serif; /*sans*/
    color: #3D3D3D;
    font-size: 16px;
}

/*.list-item:hover{
    background-color: #000000;
}*/

.list-item.active{
    border-bottom: 3px solid #46A358;
    font-family: 'Cera Pro Bolt', sans-serif;
}

.login {
    padding: 8px 18px;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #fff;
    border-radius: 6px;
    background-color: #46A358;
    border: none;
    font-family: 'Cera Pro Medium', sans-serif;
}

main{
    padding: 0px 120px 56px;    
}

.main{
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.welcome{
    padding: 68px 43px 3.5px;
    color: #3D3D3D;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
    
}

.slogan{
    padding: 3.5px 40px 2.5px;
    color: #3D3D3D;
    font-family: "Cera Pro Bolt", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
    
}
 
.text{
    padding: 2.5px 43px 44px;
    color: #727272;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    
}

.green{
    color: #46A358;
    font-family: "Cera Pro Bolt", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
}

.shop{
    padding: 11px 27px 9px 26px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #46A358;
    color: #fff;
    border: none;
    font-family: 'Cera Pro Medium', sans-serif;
    position:relative;
    left: 41px;
}

.bloc{
    display: flex;
}
